* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e1e1e;
  display: flex;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: 10%;
  height: 100vh;
}

form {
  width: fit-content;
  padding: 10px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

ul {
  margin-top: 5px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

button {
  font-size: 30px;
  padding: 4px;
}

input {
  height: 100%;
  margin-right: 10px;
  font-size: large;
}

li {
  width: 310px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

p {
  width: 80%;
  word-wrap: break-word;
}
